.img-rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.img-ds {
-webkit-box-shadow: 0px 3px 15px 1px #111111;
-moz-box-shadow: 0px 3px 15px 1px #111111;
box-shadow: 0px 3px 15px 1px #111111;
}

.navbar .brand{
background: url(../img/logo-bg.png) top right no-repeat;
background-size: 190px 100%;
}

.press {
  line-height: 10px;
}
.press-text {
  font-size: 15px;
  color: #000;
}

footer a {
  color: #f89406;
}

footer a:hover {
  text-decoration: none;
  color: #0088cc;
}

html {
  -webkit-font-smoothing: antialiased;
}

.item {
  display: table-cell;
  vertical-align: middle;
}

.carousel-inner{
  text-align: center;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display:inline-block;
}

.carousel-caption p {
  text-align: center;
  font-size: 20px;
}

a:hover {
  color: #f89406;
  text-decoration:none;
}

@media (max-width: 767px) {
    .row-fluid .span3, .uneditable-input.span3, .span3, .row-fluid .span6, .uneditable-input.span6, .span6 {
    max-width: 300px;
    float: left;
    margin-left: 15px !important;
  }
}
